// Colors
$holidaze-blue: #2274dd;
$accent: rgb(247,202,67);
$gray: #dbdbdb;
$success:rgb(35, 209, 96);
$red: #fd7986;
$green: #50c49f;
$light-blue: rgb(111,177,252);
$purple:rgb(67,100,247);
$darker-blue:rgb(0,82,212);
$footer-blue: #10367a;

// Fonts
$font-nimbus-sans: nimbus-sans, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints
$br-medium: 768px;
$br-large: 1279px;


//Bulma variables
$footer-background-color: $footer-blue;
$primary: $holidaze-blue;
$success: $green;
$danger: $red;
$primary: $holidaze-blue;